<h1>Reservation index</h1>

<div id="reservations">
<% @reservations.each do |reservation| %> 
<p>Reservation ID:<%= reservation.id %></p>
<p>Reservation Party-size:<%= reservation.party_size %></p>
<p>Reservation Datetime:<%= reservation.datetime %></p>




<% end %>