<p>
  <b>Name:</b>
  <%= @restaurant.name %>
</p>

<p>
  <b>Category:</b>
  <%= @restaurant.category %>
</p>

<p>
  <b>Price_range:</b>
  <%= @restaurant.price_range %>
  
</p>

<p>Address:</b>
	<%= @restaurant.address %>

</p>


