<p>

<p>
  <b>Name:</b>
  <%= @restaurants.name %>
</p>

<p>
  <b>Category:</b>
  <%= @restaurants.category %>
</p>

<p>
  <b>Price_range:</b>
  <%= @restaurants.price_range %>
  
</p>

<p>Address</b>
	<%= @restaurants.address %>

</p>


